# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages used in data science
* Commonly used libraries in data science
* Tools used in data science
* Converting minutes into hours

Some of the popular languages that Data Scientists use are:
* Python
* R
* Scala
* Julia

Some of the commonly used libraries used by Data Scientists include:
* Panda
* matplotlib
* scikit learn
* ggplot

| Data Science Tools |
| :----------------: |
| R Studio |
| Apache Spark |
| Watson Studio |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = int(input("Enter time in minutes: "))
h = min // 60
m = min % 60
print("Hours =", h)
print("Minutes =", m)

Enter time in minutes:  200

Hours = 3
Minutes = 20

## Author
Tanush Saboo